@{
    ViewData["Title"] = "Sipariş Tamamlandı";
}

<h2>Teşekkürler!</h2>
<p>Siparişiniz başarıyla oluşturuldu. En kısa sürede size ulaşacaktır.</p>
<a href="/" class="btn btn-success">Alışverişe Devam Et</a>
