@model IEnumerable<MutluSepet.Models.ApplicationUser>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Kullan覺c覺lar";
}

<h2>Kullan覺c覺lar</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Ad Soyad</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.FullName</td>
            </tr>
        }
    </tbody>
</table>
